# Evaluación
ragas
tqdm
pandas
pyyaml
textblob
evaluate
scikit-learn
nltk
spacy
sentence-transformers
bert-score

# Modelos y procesamiento
transformers>=4.36.0
torch>=2.0.0

# Variables de entorno
python-dotenv

# LangChain
langchain-core
langchain-community
langchain-openai

# Datasets
datasets>=2.18.0

# Notebooks y visualización (opcional)
jupyter
notebook
ipykernel
matplotlib
seaborn
